// Color Palette
$primary-grees: #1a6925;
$secondary-green: #418e37;
$primary-yellow: #fed030;
$primary-orange: #f0932e;
$primary-gray: #353334;
$secondary-gray: #a5a1a5;
$tertiary-gray: #cdcdcd;
$primary-white: #fafafa;
